body{
  font-size: 18px;
  line-height: 1.4;
}

#MainContent{
  height: 30rem;
  background-image: url("../img/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.header{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.container{
  max-width: 960px;
  margin: auto;
}
